body{
    background-image:url(https://raw.githubusercontent.com/andrewb0211/first_project/c34edeedd8c7f35eb4fdd91282144d67b02d04cd/8LcXWuv3TV2tbO0C1_Sjg0aKv-RYZrTS9ovbqGuQakrNSm80NQK23ij1sfxmTm0W-A8ahdKg7E498I8C6_gChQzC.jpg);
}
h1{
    color: white;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2{
    color: #E79198;
}
div {
    max-width: 700px;
    margin: left;
    padding: 1px 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.5;
    color:whitesmoke;
    text-align: left;
    background-color: none;
}
.spoiler-body {
    display: none;
}
.list-content {
    background-color:none;
    font-size: 1rem;
  }
